<!DOCTYPE html>
<html>
<head>
	<title>Kerja Sales | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	 <meta name="viewport" content="width=device-width" />
	 <!-- memberfull -->
<script type="text/javascript">
  window.MemberfulOptions = {site: "https://kerjasales.memberful.com"};

  (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
</script>
<!-- end memberfull -->


</head>
<body>

	
	<div class="container">
		{% include "includes/_message.html" %} <!-- extend dari _message.html untuk merender flash mesaage -->
		{% block content %}

		<!-- bagian body halaman -->

		{% endblock %}
	</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script type="text/javascript">
	CKEDITOR.replace("editor")
</script>

</body>
</html>

