{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Dashboard {% endblock%}


{% block content %}
<div class="row">                
                  <div class="col-lg-11 col-md-10">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Deals</h4>
                            </div>
                            <div class="content">
                            	{% from "includes/_formhelpers.html" import render_field %}
                               <form method="POST" enctype="multipart/form-data">
               				   {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ render_field(form.title, class="form-control",placeholder="Title of your deals")}}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ render_field(form.amount, class="form-control",placeholder="How much your deals value")}}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ render_field(form.status, class="form-control",placeholder="Your deals status")}}
                                            </div>
                                        </div>
                                    </div>
                                                  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                             {{ render_field(form.description, class="form-control",placeholder="You deals description",id="editor")}}
                
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.name, class="form-control",placeholder="Your customer")}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.email, class="form-control",placeholder="Customer Email")}}
                                            </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.phone, class="form-control",placeholder="Customer phone")}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.mobile, class="form-control",placeholder="Customer Mobile Phone6")}}
                                            </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Add Deals</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

			
          </div>









{% endblock %}