{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Dashboard {% endblock%}


{% block content %}

<!-- floating icon -->
<ul id="social_side_links">
  <li><a href="/dashboard/add-contact"><img class="icon-float" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png" alt="" /></a></li>
</ul>




<link href="{{url_for ('static',filename='css/contactlist.css')}}" rel="stylesheet"/> 

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
<div class="col-md-12 ">
<div class="row">

{% for contact in contacts %}
  <div class="col-md-6 col-lg-4">
    <div class="card hover-shadow">
      <div class="card-body text-center pt-1 pb-20">
        <a href="/dashboard/contact/{{contact.id}}">
          <img class="avatar avatar-xxl" src="http://127.0.0.1:5000/static/img/profile/{{contact.image}}">
        </a>
        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/contact/{{contact.id}}">{{ contact.name }}</a></h5>
        <span>{{ contact.company }}</span>
      </div>

      
    </div>
  </div>
  {% endfor %}
  </div>
  </div>
</div>

{% endblock %}